html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  width: 1000px;
  height: 100px;
  position: relative;
  margin: 0 auto;
  z-index: 2;
  overflow: hidden;
  float: left !important;
}

.headerLogo {
  left: 50px;
  position: absolute;
  margin-top: 5px;
}

.headerLogo,
.headerIntro {
  position: relative;
  top: 5px;
  left: 60px;
  float: left;
}

.logo {
  width: 70px;
  height: 70px;
  margin-left: 40px;
}

.main {
  height: 75%;
  background: #fff;
  position: relative;
  margin-top: 90px;
  background-color: #00a0f4;
}

.img_link {
  margin-left: -13px;
  width: 276px;
  height: 2px;
  color: #999999;
}

.login_info {
  width: 248px;
  white-space: nowrap;
}

.login_info span {
  color: #999999;
}

.theme {
  position: absolute;
  left: 10%;
  top: 10%;
  bottom: 10%;
}
.theme img{
  width:100%;
  height:100%;
}

.form_icon {
  left: 0;
}

.form_icon div {
  padding-top: 2px;
  background-color: #4c97e8;
  width: 40px;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.admin_login {
  width: 336px;
  height: 400px;
  position: absolute;
  top: 0px;
  right: 26px;
  overflow: hidden;
  margin: auto;
  padding: 40px;
  font-family: '方正正准黑简体 Regular', '方正正准黑简体';
  background-color: rgba(241, 241, 241, 1);
}

.opacity_text {
  height: 40px;
  padding: 10px 12px;
  border-radius: 5px;
  border-color: #BCBCBC;
  margin-top: 30px;
  padding-left: 50px;
}

.admin_login button {
  width: 300px;
  height: 50px;
  border: none;
  padding: 0px;
  margin-top: 30px;
  margin-left: -8%;
  font-size: 16px;
  font-weight: bold;
  background: url(../images/u46.png) no-repeat;
}

.admin_login strong {
  color: #101010;
}

.container {
  width: 386px;
  height: 400px;
  top: -30px;
  right: 15%;
  z-index: 10;
  position: absolute;
}
.img_left {
  width: 50px;
  height: 30px;
}
.img_right {
  width: 50px;
  height: 30px;
}
.div_img_right {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 30px;
}
.div_img_left {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 30px;
}
.footer {
  height: 65px;
  margin: 0 auto;
  padding: 10px;
  color: #999999;
}
.footer p {
  font-size: 16px;
  text-align:center;
}